.card {
    width: 200px;
    background-color: rgb(253, 228, 219);
    padding: 20px;
    border: 2px solid coral;
    text-align: center;
    border-radius: 4px;
}

.card div {
    font-size: 80px;
}
.card::before {
    content: "SALE";
    background-color: rgb(255, 0, 51);
    border-radius: 10px;
    font-size: larger;
    color: white;
}

.card a{
    color: brown;
}

/* Add your CSS styles below this line */

